<app-nav></app-nav>

<body style="background-color: lightgray;">
    <div class="row" style="margin-left: 20%; ">
        <div class="col ">
            <h2 class="font" text align="center">{{name1}}</h2>
            <p text align="center" style="font-weight: bolder;">{{profession1}}</p>
            <p text align="center">{{email1}}</p>
            <p text align="center">Id: {{id}}</p>
            <img src="assets\Shanit.jpeg" style="width: 45%; height: 45%; margin-left: 30%;border-radius: 50%;">
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col mb-2" style="margin-right: 20%;">
            <h2 class="font" text align="center">{{name2}}</h2>
            <p text align="center" style="font-weight: bolder;">{{profession2}}</p>
            <p text align="center">{{email2}}</p>
            <p text align="center"> Id: {{id2}}</p>
            <img src="assets\Ester.png" style="width: 45%; height: 45%; margin-left: 30%;border-radius: 50%;">

        </div>
    </div>
    <p text align="center">Ⓒ All rights reserved</p>
</body>