<!-- <div class="card border-primary mb-3" style="width: 60%;height:60%;margin-left: 25%;margin-top: 15%;">
    <div class="card-header">Name: {{currentCategorie.SerialNumber}}</div>
    <div class="card-body">
        <h4 class="card-title">Department: {{currentCategorie.Name}}</h4>
        <p class="card-text">Salary: {{currentCategorie.Price}}</p>
        <p class="card-text">Id: {{currentCategorie.Category}}</p>
    </div>
</div> -->

<app-nav></app-nav>
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center">
                    <img src="{{ currentCategorie.ImgUrl }}" width="100" class="rounded-circle" />
                </div>
                <div class="text-center mt-3 ">
                    <span class="bg-secondary p-1 px-4 rounded text-white">{{
            currentCategorie.Name
          }}</span>
                    <h5 class="mt-2 mb-0">{{ currentCategorie.Category }}</h5>
                    <span>SerialNumber:{{ currentCategorie.SerialNumber }}</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">{{ currentCategorie.Description }}</p>
                    </div>
                    <span>Price:{{ currentCategorie.Price }}₪</span>
                </div>
            </div>
        </div>
    </div>
</div>