<div class="wrapper">
    <nav id="sidebar" style="border: solid;">
        <div class="sidebar-header">
            <h3>Book <br> Categories</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a (click)="showScience_Fiction()">Science Fiction</a>
            </li>
            <li>
                <a (click)="showThrillers()"> Thrillers</a>

            </li>

            <li>
                <a (click)="showKids()">Kids</a>
            </li>
            <li>
                <a (click)="showCooking_and_Baking()">Cooking and Baking</a>
            </li>
            <li>
                <a (click)="showRomance()">Romance</a>
            </li>

        </ul>
    </nav>
</div>